rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Only authenticated users can read files, but no one can write directly.
    // All writes must go through the `uploadFile` Cloud Function.
    match /{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false; 
    }
  }
}
